* {
  font-family: serif, sans-serif, Arial, Helvetica;
}

.container {
  background-image: linear-gradient(rgba(23, 0, 128, 0.694), rgb(20, 122, 147));
}

header {
  background-color: rgba(21, 21, 21, 0.381);
  color:  rgb(71, 168, 210);
}

nav {
  background-color: rgb(71, 168, 210);
  color:rgb(49, 0, 128)
}

ul {
  list-style-type: none;
}

main{
  color: antiquewhite;
}

a:hover {
  color: pink;
}

footer {
  background-color: rgba(21, 21, 21, 0.381);
  color: rgb(71, 168, 210);
}

li {
  font-size: larger;
}

.projects h3{
  text-decoration: underline;
}

