* {
  font-family: serif, sans-serif, Arial, Helvetica;
}

.container {
  background-image: linear-gradient(rgba(23, 0, 128, 0.694), rgb(20, 122, 147));
}

header {
  background-color: rgba(21, 21, 21, 0.381);
}

nav {
  background-color: rgb(71, 168, 210);
}

ul {
  list-style-type: none;
}

.about_me {
  color: rgb(49, 0, 128);
  /* first section */
}

a:hover {
  color: pink;
  /* #me and #project_section are ids for link to the "about me" and projects sections, respectively */
}

.projects {
  color: rgb(49, 0, 128);
  /* second section */
}

footer {
  background-color: rgba(21, 21, 21, 0.381);
}

li {
  font-size: larger;
}
