.container{
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 30fr 50fr 20fr 40fr 10fr;
    max-width: 1000px;
    width: 90%;
    background-color: rgba(221, 0, 255, 0.263);
    gap: 10px 10px;
    padding: 1px;
    margin: 10px 10px;
    align-self: auto;
}

.grid_item_1{
background-color: tan;
}

.grid_item_2{
    background-color: tan;
}

.grid_item_3{
    background-color: tan;
}

.grid_item_4{
    background-color: tan;
}

.grid_item_5{
    background-color: tan;
}

.grid_item_6{
    background-color: tan;
}

.grid_item_7{
    background-color: tan;
}

.grid_item_8{
    background-color: tan;
}

.grid_item_9{
    background-color: tan;
}

.grid_item_10{
    background-color: tan;
}